<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row h1-header">
        <h1>СТАТИСТИКА ОБЪЯВЛЕНИЯ</h1>
        <h2>с ID {{ post['_id'] }}</h2>
      </div>
      <div class="row">
        <div><b>ID:</b> {{ post['_id'] }}</div>
        <div><b>Количество тегов:</b> {{ statistic_tags }}</div>
        <div><b>Количество комментариев:</b> {{ statistic_comments }}</div>
      </div>
    
</body>
</html>